<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/313524d194.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main_header">
        <div class="logo_busqueda">
            <img class="image_logo" src="/images/logo-mercado-liebre.svg" alt="" width="50%">
            <div class="busqueda">
                <div class="seccion_busqueda">
                <input class="texto_busqueda" type="text" placeholder="Buscar productos, marcas y más">
                <button class="boton_busqueda" type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </div>
                <div class="seccion_cuotas">
                    <i id="dolar1" class="fa-solid fa-hand-holding-dollar"></i>
                    <p class="compra1">Comprá en Cuotas y sin tarjeta de Credito</p>
                </div>

            </div>
                
        </div>
    
        <div class="dolar">
            <i id="dolar2" class="fa-solid fa-hand-holding-dollar"></i>
            <p class="compra2">Comprá en Cuotas y sin tarjeta de Creditow</p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales </a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <br>
            <ul class="list">
                <li>
                    <a href="/register">Creá tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="">Mis Compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </nav>
        <button class="menu_hamburguesa">
            <i class="fas fa-bars"></i>
        </button>
        <img class="banner" src="/images/img-home-banner.jpg" alt="" width="100%">

    </header>
    <main class="main_products">
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section class="vistos">
            <article class="products">
                <img class="products_image" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300px">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="300px">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h4 class="descripcion">SmartTv Samsung 43''</h4>
                </div>  
            </article>
        </section>
        
        <h2 class="titulares">Ofertas</h2>
        <section class="ofertas">
            <article class="products">
                <img class="products_image" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="products">
                <img class="products_image" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width="100%">
                <div class="detail">
                    <div class="icon_cart">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h4 class="descripcion">SmartTv Samsung 43''</h4>
                </div>
            </article>
        </section>
    </main>
    <footer class="main_footer">
        <article class="footer_data">
            <i id="item" class="fa-solid fa-credit-card"></i>
            <h3 id="title">Pagá con targeta o en Efectivo</h3>
            <p id="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer_data">
            <i id="item" class="fa-solid fa-gift"></i>
            <h3 id="title">Envío gratis desde $ 2.500</h3>
            <p id="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer_data">
            <i id="item" class="fa-solid fa-user-shield"></i>
            <h3 id="title">Seguridad, de principio a fin</h3>
            <p id="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article class="Copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>
    </footer>
</body>
</html>