<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/313524d194.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main_header">
        <div class="logo_busqueda">
            <img class="image_logo" src="/images/logo-mercado-liebre.svg" alt="" width="50%">
            <div class="busqueda">
                <input class="texto_busqueda" type="text" placeholder="Buscar productos, marcas y más">
                <button class="boton_busqueda" type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                <i id="dolar1" class="fa-solid fa-hand-holding-dollar"></i>
                <p class="compra1">Comprá en Cuotas y sin tarjeta de Credito</p>
            </div>
        </div>
    
        <div class="dolar">
            <i id="dolar2" class="fa-solid fa-hand-holding-dollar"></i>
            <p class="compra2">Comprá en Cuotas y sin tarjeta de Creditow</p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales </a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <br>
            <ul class="list">
                <li>
                    <a href="/register">Creá tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="">Mis Compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </nav>
        <button class="menu_hamburguesa">
            <i class="fas fa-bars"></i>
        </button>

    </header>
    <main class="main_register">
        <section>
            <div class="form_body">

                <h1>Ingreso</h1>
                <form action="/login" method="POST" class="form">
                    
                    <div>    
                        <label for="name_user" class="form_label">Nombre de Usuario</label>
                        <input type="text" name="name_user" class="form_imput">
                        <span>Obligatorio</span>
                    </div>
                    
                    <div>
                        <label for="password" class="form_label">Contraseña</label>
                        <input type="password" name="password" class="form_imput">
                        <span>Obligatorio</span>
                    </div>
                    
                    <div class="form_buttoms">
                        <button type="submit" name="enviar" class="butom_enviar"><a href="/">Enviar</a></button>
                    </div>
                    
                    
                </form>
            </div>
        </section>
    </main>
    <footer class="main_footer">
        <article class="footer_data">
            <i id="item" class="fa-solid fa-credit-card"></i>
            <h3 id="title">Pagá con targeta o en Efectivo</h3>
            <p id="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer_data">
            <i id="item" class="fa-solid fa-gift"></i>
            <h3 id="title">Envío gratis desde $ 2.500</h3>
            <p id="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer_data">
            <i id="item" class="fa-solid fa-user-shield"></i>
            <h3 id="title">Seguridad, de principio a fin</h3>
            <p id="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article class="Copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>
    </footer>
</body>
</html>