/* Variables de Colores */
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

/* General */
*{
    box-sizing: border-box;
}
.banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -25px;
}
.main_header {
    padding: 15px 0;
    width: 100%;
    background-color: var(--Amarillo);
}
body {
    font-family: 'Roboto';
    background-color: var(--GrisClaro);
    font-size: 12px;
    min-height: 100vh;
    margin: 0;
    font-size: 12px;
} 
.image_logo {
    width: 50%;
}
.logo_busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.compra1 {
    display: none;
}
#dolar1 {
    display: none;
}
/* Busqueda */
.busqueda {
    margin: 5px 5px;
    display: inline-flex;
    width: 45%;
}
.texto_busqueda {
    width: 80%;
}
.boton_busqueda {
    width: 15%;
}

/* Comprá en Cuotas y sin tarjeta de Creditow */
.dolar {
    align-items: center;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dolar {
    align-items: center;
    margin-right: 4px;
}
.compra2 {
    display: inline-block;
}
#dolar2 {
    display: inline-block;
}

/* Navegacion */
.list {
    display: none;
}
.list li {
    display: inline-block;
    margin-right: 14px;
    margin-top: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
}
a {
    display: none;
}

.menu_hamburguesa {
    background-color: var(--Celeste);
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    display: block;
    margin: 20px auto 0;
}

/* Titulares */
.titulares {
    font-size: 24px;
}

/* Products */
.main_products {  
    margin: 0px auto;
    width: 90%;
    color: var(--GrisOscuro);
}
.vistos {
    margin: 30px 0;
}
.products_image {
    width: 100%;
}
.products {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
}
.detail {
    border-top: 2px solid var(--GrisClaro);
    padding-bottom: 20px;
}
.icon_cart {
    color: var(--Verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    }
.precio {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: inline;
}
.descuento {
    font-size: 16px;
    color: var(--Verde);
    margin-left: 10px;
    margin-top: 0px;
    display: inline;
}
.descripcion {
    display: none;
}

/* footer */
.main_footer {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: 80px;
}
.footer_data {
    text-align: center;
}
#item {
    color: var(--Celeste);
    font-size: 3.5em;
}
#title {
    color: var(--GrisOscuro);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}
#text {
    color: var(--GrisOscuro);
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}
/* Copyright */
.Copyright {
    border-top: 1px solid var(--GrisClaro);
    background-color: #ffffff;
}
.Copyright h3 {
    margin-left: 10px;
    color: var(--GrisOscuro);
    padding: 15px 0;
}

/* Views */
.form_body {
    margin: 30px 150px;
}
.form {
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
}
/* Formularios */
.form_label {
    display: block;
    font-size: 1.6em;
    margin: 10px 0;
}
.form_imput {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
}
.form_buttoms {
    display: flex;
    justify-content: flex-end;
}
.butom_enviar {
    background-color: var(--Celeste);
    font-size: 20px;
    border-radius: 5px;
    border: solid 0px;
    padding: 5px 10px;
    margin-right: 10px;
}
.butom_enviar a {
    color: white;
}
.butom_borrar {
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: solid 0px;
    padding: 5px 10px;
    margin-right: 10px;
}
.form_options {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 0px;
    font-size: 1.5em;
    padding: 0 15px;
}
span {
    color: red;
}
/* Media-Queries */

/* Tablet */
@media (min-width: 768px) { /* Puse 738 como minimo por que en el Chrome asi lo muestra como tablet */
    
    body .main_products {
        padding: 0px 30px;
    }

    /* Navegacion */
    .list {
        list-style-image: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        display: inline;
    }
    .image_logo {
        width: 30%;
    }
    .busqueda {
        margin: 5px 5px;
        display: inline-flex;
        width: 70%;
        padding: 5px 5px;
        align-items: center;
        justify-content: space-around;
    }
    .texto_busqueda {
        width: 80%;
        margin-right: 20px;
    }
    .boton_busqueda {
        width: 15%;
        margin-left: -20px;
    }
    .seccion_cuotas {
        display: flex;
    }

    .compra1 {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    #dolar1 {
        display: inline-block;
        display: flex;
        align-items: center;
    }
    .compra2 {
        display: none;
    }
    #dolar2 {
        display: none;
    }
    .menu_hamburguesa {
        display: none;
    }

    .vistos {
        overflow: hidden;
    }
    .ofertas {
        overflow: hidden;

    }
    .detail {
        padding-bottom: 0px;
    }
    .products {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        width: 49%;
        float: left;
        margin-right: 1%;
    }
    .descripcion {
        display: inline;
        font-size: 20px;
        margin-left: 15px;
        display: block;
        margin-bottom: 0px;
        margin-top: 5px;
    }
}

/* Laptop */
@media (min-width: 1024px) { /* Puse 1024 como minimo por que en el Chrome asi lo muestra como Laptop. Igual no cambie nada a comparacion de la Tablet*/
    
    body .main_products {
        display: flex;
        flex-wrap: wrap;
    }
    .main_header {
        font-size: 16px;
    }
    /* Navegacion */
    .list {
        list-style-image: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        display: inline;
    }
    .image_logo {
        width: 30%;
    }
    .busqueda {
        margin: 5px 5px;
        display: inline-flex;
        width: 70%;
        padding: 5px 5px;
        align-items: center;
        justify-content: space-around;
    }
    .seccion_busqueda {
        display: flex;
    }
    .texto_busqueda {
        width: 80%;
        height: 30px;
    }
    .boton_busqueda {
        width: auto;
        height: 30px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .compra1 {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    #dolar1 {
        display: inline-block;
        display: flex;
        align-items: center;
    }
    .compra2 {
        display: none;
    }
    #dolar2 {
        display: none;
    }
    .menu_hamburguesa {
        display: none;
    }

    .vistos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ofertas {
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    .detail {
        padding-bottom: 0px;
    }
    .products {
        width: 24%;
    }
    .descripcion {
        display: inline;
        font-size: 20px;
        margin-left: 15px;
        display: block;
        margin-bottom: 0px;
        margin-top: 5px;
    }
}